In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('data/data_1a.csv')

In [16]:
df['lag1'] = df['data'].shift(1)
df['lag2'] = df['data'].shift(2)

In [17]:
df['diff'] = df['lag1'] < df['data']

In [18]:
sum(df['diff'])

1374

In [23]:
df['window'] = df['data'] + df['lag1'] + df['lag2']
df['window_lag'] = df['window'].shift(1)
df['window_diff'] = df['window'] > df['window_lag']

In [24]:
df

      data     lag   diff    lag1    lag2   window  window_lag  window_diff
0      191     NaN  False     NaN     NaN      NaN         NaN        False
1      192   191.0   True   191.0     NaN      NaN         NaN        False
2      201   192.0   True   192.0   191.0    584.0         NaN        False
3      205   201.0   True   201.0   192.0    598.0       584.0         True
4      206   205.0   True   205.0   201.0    612.0       598.0         True
...    ...     ...    ...     ...     ...      ...         ...          ...
1995  5777  5776.0   True  5776.0  5743.0  17296.0     17259.0         True
1996  5788  5777.0   True  5777.0  5776.0  17341.0     17296.0         True
1997  5787  5788.0  False  5788.0  5777.0  17352.0     17341.0         True
1998  5783  5787.0  False  5787.0  5788.0  17358.0     17352.0         True
1999  5791  5783.0   True  5783.0  5787.0  17361.0     17358.0         True

[2000 rows x 8 columns]

In [25]:
sum(df['window_diff'])

1418